<mat-card>
  <mat-card-content>
    <h1>Listes de mangas partenaires avec <span style="color: crimson;">MangaFric</span> :</h1>
    <div class="container-mangas">

      <mat-card class="card" *ngFor="let manga of MangasService.mangas | async">
        <mat-card-header>
          <mat-card-title>{{manga.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{manga.image}}">
        <mat-card-content class="description-manga">
          <p>
            {{manga.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="actions-manga">
          <button class="btn-manga" mat-raised-button (click)="addLibrary(manga.id)">Ajouter à ma bibliothèque
            <span class="material-symbols-outlined">
              bookmark
            </span>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Ajouter un manga :</mat-card-title>
        </mat-card-header>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Titre</mat-label>
            <input matInput type="text" formControlName="title">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Lien vers l'image</mat-label>
            <input matInput type="text" formControlName="image">
          </mat-form-field>
          <mat-card-content class="description-manga">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Description</mat-label>
              <textarea formControlName="description" style="height: 100px;" matInput placeholder="C'est l'histoire de ..."></textarea>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="actions-manga">
            <button class="btn-manga" mat-raised-button type="submit" [disabled]="!myForm.valid"
              style="width:100%">Ajouter un manga
              <span class="material-symbols-outlined">
                add_circle
              </span>
            </button>
          </mat-card-actions>
        </form>
      </mat-card>

    </div>

  </mat-card-content>
</mat-card>