.page-header-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    color: #ffffff;
    background-color: #00a870;
}

nav {
    display: flex;
    justify-content: space-between;
}
